* {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  filter: invert(100%);
}

.container div {
  padding: 15px;
  font-family: Helvetica;
  font-weight: bold;
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.5fr 2fr;
  height: 930px;
}
.header {
  min-height: 150px;
  grid-column: 2/3;
  grid-row: 1/2;
}
.sidebar {
  font-size: 25px;
  color: white;
  background-color: #1993d5;
  grid-row: 1/3;
}

.sidebar .logo {
  font-size: 32px;
}

.sidebar .links {
  display: flex;
}

.sidebar img {
  width: 40px;
  margin-top: -10px;
  margin-right: 0.5em;
}

.sidebar li {
  margin-bottom: 25px;
}

.sidebar > * {
  padding: 15px;
}

.logo {
  display: flex;
}

.container img {
  display: flex;
  height: 50px;
  gap: 10px;
}

/*Main*/

.main-content {
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-template-rows: 1fr 1fr;
  grid-column: 2/3;
  background-color: #e2e8f0;
}

.main-content .projects {
  grid-row: 1/3;
}

.main-content .announcements {
  grid-column: 2/3;
}

.main-content .trending {
  grid-column: 2/3;
}

.main-content .proje-lists {
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto auto;
  gap: 30px;
}

.main-content .proje-lists div {
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  height: 173px;
  border-left: 10px solid gold;
}

.main-content .proje-lists p {
  font-weight: lighter;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.main-content .card-icons {
  filter: invert(1);
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.main-content .card-icons img {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

.announcements .announ-lists {
  display: grid;
  align-items: center;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ffffff;
  gap: 15px;
}

.announcements div:not(:last-child) {
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(210, 210, 210);
}

.announcements .announ-lists p {
  font-weight: lighter;
}

.trending .trend-lists {
  display: grid;
  align-items: center;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ffffff;
}

.trending .trend-lists p {
  font-weight: lighter;
}

.trend-lists > div{
  display: flex;
  gap: 10px;
  align-items: center;
}
