* {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.5fr 2fr;
  height: 930px;
}
.header {
  grid-column: 2/3;
  grid-row: 1/2;
}
.sidebar {
  color: white;
  background-color: #1993d5;
  grid-row: 1/3;
}

.sidebar li{
  margin-bottom: 25px;
}

.sidebar>*{
  padding: 15px;
}

.main-content {
  display: grid;
  grid-template-columns: 2.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-column: 2/3;
  background-color: #e2e8f0;
}

.main-content .projects {
  grid-row: 1/3;
}

.main-content .announcements {
  grid-column: 2/3;
}

.main-content .trending {
  grid-column: 2/3;
}
